/* line 1, ../sass/tv2-gamefacts.scss */
.module-gamefacts ul, .module-gamefacts ul li, .module-gamefacts ul li article, .module-gamefacts ul li .names-involved > div {
  zoom: 1;
}
/* line 3, ../sass/tv2-gamefacts.scss */
.module-gamefacts ul:before, .module-gamefacts ul li:before, .module-gamefacts ul li article:before, .module-gamefacts ul li .names-involved > div:before, .module-gamefacts ul:after, .module-gamefacts ul li:after, .module-gamefacts ul li article:after, .module-gamefacts ul li .names-involved > div:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 9, ../sass/tv2-gamefacts.scss */
.module-gamefacts ul:after, .module-gamefacts ul li:after, .module-gamefacts ul li article:after, .module-gamefacts ul li .names-involved > div:after {
  clear: both;
}

/* line 22, ../sass/tv2-gamefacts.scss */
.module-gamefacts h3 {
  float: left;
  width: 50%;
  padding: 1em 1.5em 0.25em 1.5em;
  font-family: 'flama_semi_condensed';
  font-weight: 900;
}
/* line 30, ../sass/tv2-gamefacts.scss */
.module-gamefacts h3:nth-child(1) {
  text-align: right;
}
/* line 36, ../sass/tv2-gamefacts.scss */
.module-gamefacts ul {
  clear: both;
  padding: 0;
  position: relative;
}
/* line 42, ../sass/tv2-gamefacts.scss */
.module-gamefacts ul li {
  padding: 0.25em;
  list-style: none;
  clear: both;
  border-top: 1px solid #ccc;
}
/* line 49, ../sass/tv2-gamefacts.scss */
.module-gamefacts ul li .score, .module-gamefacts ul li img, .module-gamefacts ul li span, .module-gamefacts ul li time {
  vertical-align: top;
}
/* line 53, ../sass/tv2-gamefacts.scss */
.module-gamefacts ul li article {
  width: 50%;
}
/* line 58, ../sass/tv2-gamefacts.scss */
.module-gamefacts ul li .names-involved {
  display: inline-block;
}
/* line 64, ../sass/tv2-gamefacts.scss */
.module-gamefacts ul li strong {
  font-weight: 700;
}
/* line 68, ../sass/tv2-gamefacts.scss */
.module-gamefacts ul li img {
  height: 1em;
  margin: 0.25em;
}
/* line 73, ../sass/tv2-gamefacts.scss */
.module-gamefacts ul li a {
  color: #000;
}
/* line 77, ../sass/tv2-gamefacts.scss */
.module-gamefacts ul li .score {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}
/* line 84, ../sass/tv2-gamefacts.scss */
.module-gamefacts ul li .score img {
  height: 1.4em;
  margin: 0;
}
/* line 91, ../sass/tv2-gamefacts.scss */
.module-gamefacts ul li.home article {
  text-align: right;
}
/* line 95, ../sass/tv2-gamefacts.scss */
.module-gamefacts ul li.home article .fact-data {
  float: right;
  padding-right: 2.75em;
}
/* line 99, ../sass/tv2-gamefacts.scss */
.module-gamefacts ul li.home article .score, .module-gamefacts ul li.home article .names-involved, .module-gamefacts ul li.home article time {
  float: left;
}
/* line 103, ../sass/tv2-gamefacts.scss */
.module-gamefacts ul li.home article .score img {
  position: absolute;
  left: -1.25em;
}
/* line 111, ../sass/tv2-gamefacts.scss */
.module-gamefacts ul li.away article {
  float: right;
  text-align: left;
}
/* line 115, ../sass/tv2-gamefacts.scss */
.module-gamefacts ul li.away article .fact-data {
  float: left;
  padding-left: 2.75em;
}
/* line 119, ../sass/tv2-gamefacts.scss */
.module-gamefacts ul li.away article .score, .module-gamefacts ul li.away article .names-involved, .module-gamefacts ul li.away article time {
  float: right;
}
/* line 122, ../sass/tv2-gamefacts.scss */
.module-gamefacts ul li.away article .score img {
  position: absolute;
  right: -1.25em;
}
/* line 127, ../sass/tv2-gamefacts.scss */
.module-gamefacts ul li.away article .names-involved img {
  float: left;
}
/* line 138, ../sass/tv2-gamefacts.scss */
.module-gamefacts.tiny .assist {
  display: none;
}
