%clearfix {
    zoom:1;
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}

%focus{
	&:focus{
		background-color: #b4e7fc;
	};
}

.module-gamefacts {
	
	h3{
		float: left;
		width: 50%;
		padding: 1em 1.5em 0.25em 1.5em;

		font-family: 'flama_semi_condensed';
		font-weight: 900;

		&:nth-child(1){
			text-align: right;
		}

	}

	ul{
		clear: both;
		padding: 0;
		@extend %clearfix;
		position: relative;

		li{
			padding: 0.25em;
			list-style: none;
			clear: both;
			position: relative;			
			border-top: 1px solid #ccc;
			@extend %clearfix;


			.score,img,span,time{
				vertical-align: top;
			}

			article{
				width: 50%;
				padding: 0.5em 0;
				@extend %clearfix;
			}

			.names-involved{
				display: inline-block;
				> div{
					@extend %clearfix;
				}
				
			}
			strong{
				font-weight: 700;
			}

			img{
				height: 1em;
				margin: 0.25em;
			}



			a{
				color: #000; //should be moved to bootstrap to account for bg-colors in mixin
			}

			.score{
				position: absolute;
				left: 50%;
				top: 0.76em;
				-webkit-transform: translateX(-50%);
				-moz-transform: translateX(-50%);
				transform: translateX(-50%);

				img{
					height: 1.4em;
					margin: 0;
				}
			}

			&.home{
				article{
					
					text-align: right;

					.fact-data{
						float:right;
						padding-right: 2.75em;
					}
					.score,.names-involved,time{
						float: left;
					}
					
					.score img{
						position: absolute;
						left: -1.25em;
					}

					img{
						margin-right: 0;
					}
					
				}
			}
			&.away{
				article{
					float: right;
					text-align: left;

					.fact-data{
						float:left;
						padding-left: 2.75em;
					}
					.score,.names-involved,time{
						float: right;
					}
					.score img{
						position: absolute;
						right: -1.25em;

					}
					.names-involved img {
						float: left;
					}

					img{
						margin-left: 0;
					}
				}
			}
		}
	}

	&.tiny{

		h3{
			text-align: left;
			padding: 0.5em 0 0;
			width: inherit;

			&:first-child{
				padding-left:0.5em;
				&:after{
					content: '\2014';
					padding: 0 0.5em;
				}
			}
		}

		ul{
			li.away,
			li.home{
				padding: 0;
				float: none;

				article{
					width: 100%;
					.fact-data,.score ,.names-involved, time{
						float: left;
						
					}
					img{
						margin: 0.25em;
					}
					.score{

						left: inherit;
						position: static;
						float: none;
						display: inline-block;
						width: 5em;
						-webkit-transform: translateX(0%);
						img{
							margin: 0 0.25em;
							position: static;
						}
					}
					.names-involved{
						
						text-align: left;
						
						img {
							float: none;
						}
					}
					.fact-data{
						padding: 0;
						display: inline-block;
						float: left;
						width: 85%;
						text-align: left;

						> img{
							float: right;
							vertical-align: top;
						}

					}
					time{
						padding-right: 0.5em;
						text-align: right;
						width: 15%;
					}

				}
			}
		}

	}

	&.narrow{
		time{
			width: 15%;
		}
		.fact-data{
			width: 85%;
			.names-involved{
				float: none;
			}
		}

	}

	&.normal{
		.home{
			time{
				padding-left: 3em;
			}
		}
		.away{
			time{
				padding-right: 3em;
			}
		}
	}

}